/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.blinking-text {
  animation: blink 0.5s infinite;
}
a {
  text-decoration: none;
  color: #333;
}

header {
  background-color: none;
  padding: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  font-size: 18px;
}

.hero {
  background-color: #3498db;
  color: white;
  
  padding: 20px 10px;
}

.hero h1 {
  font-size: 48px;
}

section {
  padding: 40px 20px;
  margin: 20px 0;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p, section ul {
  font-size: 18px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul li {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #2980b9;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
